
  <img src='{{image}}' alt='catdog' />
  <ul>
  <!-- for loop -->
    {{#each friends}}
    <li>{{name}} - {{age}}</li>
    <!-- if statement -->
    {{#if age}}
    - you are {{age}}
    {{/if}}
    {{/each}}
    <!-- end for loop -->
  </ul>
